.footer {
  background-color: #000000;
  padding: 11px 0;
  font-size: 14px;
  color: #fff;

  h1 {
    font-size: 32px;
  }

  a {
    // color: var(--link-color);
    color: #fff;
    text-decoration: underline;
  }

  @media (max-width: 800) {
    font-size: 26px;
  }
}

.footer__copyright {
  text-align: center;
}
