.header {
  background-color: #1f1f1f;
  color: #fff;
  padding: 24px 0;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &::before {
      content: "";
    }
  }

  &__btns {
    margin-left: auto;
    display: flex;
    gap: 10px;
  }

  &__logo {
    justify-self: center;
  }
}

// .header__nav {
// 	@include tablet {
// 		display: none;
// 	}
// }
